body {
    background-color: #CDDEFF;
  }

  h1 {
       color: #064663;
  }
h2{
    color: #064663;
}
h3 {
    color: #064663;
}


hr {
        border-color: grey;
        border-style: dotted none  none;
        border-width: 5px;
        width: 4%;
  }
.solid{
    border-style: solid;
}